#mint-bot {
  max-width: 300px;
}

.container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 260px;
  height: 260px;
}

.container img {
  background-color: silver;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

/* .container img:hover {
  filter: grayscale(60%);
} */

@supports (object-fit: cover) {
  .container img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

#preview-photo {
  visibility: hidden;
}

#icon {
  width: 260px;
  height: 260px;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  background-color: #ffffffd5;
  border: 1px solid #aaaaaa;
}

#icon:hover {
  border: 1px solid #000000;
}
