.nav::-webkit-scrollbar {
  width: 10px;
}

.nav::-webkit-scrollbar-track {
  background: #0c163a;
}

.nav::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

.article::-webkit-scrollbar {
  width: 10px;
}

.article::-webkit-scrollbar-track {
  background: #0c163a;
}

.article::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

.trade-grid-container {
  display: grid;
  gap: 5px;
  grid-template:
    "header" 50px
    "bots" 350px
    "control" 350px
    "chat" 350px
    "transactions" 350px;
}

@media (min-width: 840px) {
  .trade-grid-container {
    grid-template:
      "header header" 50px
      "bots chat" 550px
      "control transactions" 350px / 250px auto;
  }
}

@media (min-width: 1200px) {
  .trade-grid-container {
    grid-template:
      "header header header" 50px
      "bots chat control" 550px
      "bots transactions control" 350px / 300px auto 300px;
  }
}

.header {
  grid-area: header;
  background-color: #0c163a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.bots {
  grid-area: bots;
  background-color: #0c163a;
  overflow-y: auto;
  position: relative;
}

.chat {
  grid-area: chat;
  background-color: #0c163a;
}

.transactions {
  grid-area: transactions;
  background-color: #0c163a;
  position: relative;
}

.control {
  grid-area: control;
  background-color: #0c163a;
  position: relative;
}

/* HEADER */

#account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* NAV */

.container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 150px;
}

.container img {
  background-color: silver;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

@supports (object-fit: cover) {
  .container img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

#preview-photo {
  visibility: hidden;
}

#icon {
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #cfcfcf75;
}

#icon:hover {
  border: 0.5px solid #ffffff;
}

#icon:active {
  border: 2px solid #90caf9;
}

.data-container {
  padding: 5px 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  line-height: 1.75;
}

.data-container:hover {
  background-color: #b1b1b14f;
}

.data-container:active {
  background-color: #9c9c9c85;
}

.nft-info {
  gap: 3px;
  display: grid;
  grid-template:
    "nft-name nft-name" 15px
    "nft-image nft-description" 20px
    "nft-image nft-description" 20px;
}

.nft-name {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: nft-name;
}

.nft-image {
  margin: 2px;
  width: 40px;
  height: 40px;
  grid-area: nft-image;
  object-fit: cover;
  border-radius: 50%;
}

.nft-description {
  padding: 10px;
  grid-area: nft-description;
}

.bot-info {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  background-color: #e9e9e9a2;
  height: 1px;
}

.selected {
  background-color: #90caf9;
  color: #000000;
}

.selected:hover {
  background-color: #d0eaff;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
